[server]

[mysqld]
datadir=/var/lib/mysql
log-error=/var/log/mariadb/error.log
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock

[galera]
bind-address=0.0.0.0

[embedded]

[mariadb]

[mariadb-10.3]